<div id="details" class="clear">
	<ul>
		<li id="when">
			<h2>The When</h2>
			<div id="ribbon" class="clear">
				<div id="date" class="left">
					<%= Time.at(@latest_event["time"] / 1000).strftime("%B %e, %Y") %>
				</div>
				<div id="time" class="right">
					<%= Time.at(@latest_event["time"] / 1000).strftime("%l:%M%P") %>
				</div>
			</div>
			<% if @latest_event["description"].blank? %>
				<p>
					This month's topic has yet to be announced, but when it is, it will most likely <strong>change the entire face and brains of computing as we know it*</strong>.</p>
				<p>
					In the meantime, <a href='http://http://www.meetup.com/RubyBayou/'><strong>join our MeetUp site</strong></a> to be notified of future announcements.
				</p>
			<% else %>
				<p>
					<%= raw(@latest_event["description"]) %>
				</p>
			<% end %>
		</li>
		<li id="where">
			<h2>The Where</h2>
			<div id="map">
				<a href="http://bit.ly/gAJxlJ"><img src="/images/map.png" alt="Ruby Bayou meetup location - 643 Magazine Street suite 102" /></a>
				<p>
					We meet at <a href="http://bit.ly/gAJxlJ"><strong>643 Magazine Street</strong></a>, known as <strong>Launchpad</strong>, in <strong>suite 102</strong>.
				</p>
			</div>
		</li>
		<li id="what">
			<h2>The What</h2>
			<p>
				Ruby Bayou is the super awesome user group for the Ruby developer community in New Orleans and the GNO area.
			</p>
			<p>
				We exist to promote and explore the use of Ruby as a programming language, promote Ruby based projects, and engage with other technology and community groups in the New Orleans metro area. 
			</p>
		</li>
	</ul>
</div>
<div id="planning" class="clear">
	<h3>Who's Planning To Go</h3>
	<ul>
		<% @rsvps_collection.each do |rsvps| %>
				<% if rsvps.rsvp["response"] == "yes" %>
					<li>
						<a href="<%= rsvps.rsvp["link"] %>" class="tip" title="<%= rsvps.rsvp["name"] %>">
							<img src="<%= get_member_photo(rsvps.rsvp) %>" />
						</a>
					</li>
				<% end %>
		<% end %>
	</ul>
</div>
<div id="twitter">
	<p>
		<a href="http://twitter.com/rubybayou">@rubybayou</a>: <%= raw(linkify_twitter_text(@latest_tweet.text)) %>
	</p>
</div>
<div id="projects">
	<h2>The Projects</h2>
	<ul>
		<li>
			<div class="info">
				<a href="#" class="title">Pothole Project</a>
				<span class="author">by Joe Ellis</span>
			</div>
			<p>
				Ruby Bayou is the user group for the Ruby developer community in New Orleans. We exist to promote and explore the use of Ruby as a programming language as well as engage with other technology and community groups in the New Orleans metro area.
			</p>
		</li>
		<li>
			<div class="info">
				<a href="#" class="title">Pothole Project</a>
				<span class="author">by Joe Ellis</span>
			</div>
			<p>
				Ruby Bayou is the user group for the Ruby developer community in New Orleans. We exist to promote and explore the use of Ruby as a programming language as well as engage with other technology and community groups in the New Orleans metro area.
			</p>
		</li>
	</ul>
</div>